{% extends 'layout.twig' %}

{% block title %}Admin accueil{% endblock %}

{% block body %}
    {% if simpleUser == true %}
        <h1>Bienvenue {{ user.pseudo }}</h1>
        <h2>Un administrateur doit valider votre compte pour continuer sur la partie administration.</h2>
    {% else %}
        <h1>Bonjour {{ user.pseudo }}</h1>
        <h2>Bienvenue sur votre tableau d'administration</h2>
    {% endif %}
{% endblock %}
