{% extends 'layout.twig' %}

{% block title %}Admin accueil{% endblock %}

{% block body %}
    <h1>Bonjour {{ user.pseudo }}</h1>
    <h2>Bienvenue sur votre tableau d'administration</h2>
{% endblock %}
