{% extends 'layout.twig' %}

{% block title %}Ajouter une nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle catégorie.</h1>

    <div class="row">
        {{ form | raw }}
    </div>
{% endblock %}
