{% extends 'layout.twig' %}

{% block title %}Administration des catégories{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <div class="row">
        {{ form | raw }}
    </div>
{% endblock %}
