<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/png" href="http://jojotique.fr/images/icone.png"/>
    <!--[if IE]>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/><![endif]-->
    <title>{% block title %}{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Crafty+Girls" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/accueil">
        <img src="/img/logo.png" alt="Logo représentant une tique techno"/>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/accueil">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog/1">Blog</a>
            </li>

            {% if sessionConfirmConnect == true %}
                <li class="nav-item" id="adminNav">
                    <a class="nav-link" href="/admin/accueil">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/post/1">Articles</a>
                </li>
            {% endif %}

            {% if sessionAdmin == true %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/category/1">Catégories</a>
                </li>
            {% endif %}
        </ul>
    </div>

    {% if sessionConfirmConnect == true %}
        <a href="/user/logout" class="btn btn-outline-info">Déconnexion</a>
    {% else %}
        <a href="/user/login" class="btn btn-outline-info">Connexion</a>
    {% endif %}
</nav>

<div class="container-fluid">
    {% block body %}{% endblock %}

    <footer class="row">
        <div class="col-sm-9">
            <img src="/img/logo.png" alt="Logo Jojotique" id="logo"/>
            <address>
                <p>Jojotique©</p>
                <p>Strasbourg</p>
                <p>Phone : 06 30 79 49 53</p>
                <p>Mail : <a href="mailto:giildo@gmail.com">giildo@gmail.com</a></p>
            </address>
        </div>
        <div class="btn-group col-sm-3">
            <a href="https://www.facebook.com/jojotique.fr/" target="_blank">
                <img src="/img/reseaux_sociaux/facebook.png" alt="Logo Facebook en 3D">
            </a>
            <a href="https://twitter.com/JojotiqueFr" target="_blank">
                <img src="/img/reseaux_sociaux/twitter.png" alt="Logo Twitter en 3D">
            </a>
            <a href="https://www.linkedin.com/in/jonathan-marco-giildo" target="_blank">
                <img src="/img/reseaux_sociaux/linkedin.png" alt="Logo de LinkedIn">
            </a>
            <a href="https://github.com/Giildo" target="_blank">
                <img src="/img/reseaux_sociaux/github.png" alt="Logo Github représentant Octocat">
            </a>
        </div>
    </footer>
</div>

<script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
