/** Général **/

body {
    margin-top: 66px;
    font-family: 'Raleway', sans-serif;
}

/** Nav **/

.navbar-brand img {
    height: 40px;
}

.navbar a {
    font-size: 1.3rem;
}

#adminNav {
    border-left: 1px solid rgba(255,255,255,0.5);
}

/** Pages **/

div.btn-group {
    margin: 10px auto;
}

.card-header {
    text-align: center;
    font-weight: bold;
}

p {
    text-indent: 15px;
}

h1 {
    text-align: center;
    padding: 30px 0;
}

h1::after, h1::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, white, black, white);
}

h1::after {
    margin-top: 15px;
}

h1::before {
    margin-bottom: 15px;
}

.date, .author {
    text-align: right;
    font-style: italic;
}

.author {
    color: #484848;
}

.date {
    color: #747474;
}

.p404 img {
    display: block;
    width: 300px;
    margin: auto;
}

.p404title2 {
    font-size: 1.8em;
}

.p404title1 {
    font-size: 2.1em;
}

.p404 ul {
    padding-left: 80px;
}

.p404list {
    font-size: 1.5em;
    color: #ff523a;
}

.category-group {
    width: 60%;
    margin: 0 auto;
    display: block;
}

/** Accueil **/

header {
    position: relative;
}

header img {
    position: relative;
}

#col-header {
    padding: 0;
}


header h1.col-sm-12 {
    color: white;
    position: absolute;
    top: 10px;
    font-weight: bold;
    font-size: 5em;
    font-family: 'Crafty Girls', cursive;
}

header h1.col-sm-12::after, header h1.col-sm-12:before {
    background: linear-gradient(to right, black, white, black);
}

blockquote, .blockquote {
    font-family: 'Caveat', cursive;
}

blockquote {
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 3.5em;
}

.blockquote {
    font-size: 2.5em;
    text-align: right;
}

#blockquote {
    background: linear-gradient(to bottom, #c9c9c9, white);
    padding-bottom: 150px;
}

/** Accueil - Form **/

.generalForm, .loginForm {
    margin-top: 40px;
    margin-bottom: 40px;
}

.generalForm fieldset, .loginForm fieldset {
    padding: 12px;
}

.generalForm legend, .loginForm legend {
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 15px;
}

.generalForm legend::after {
    content: '';
    height: 1px;
    width: 100%;
    display: block;
    background: linear-gradient(to right, black, #b6b6b6 30%, white 75%);
}

/** Accueil - CV **/

#cv {
    background: radial-gradient(ellipse, #ffffff, #c9c9c9);
}

#cv h1::after, #cv h1:before {
    display: none;
}

#contactInformation {
    text-align: center;
}

#contactInformation p {
    text-indent: 0;
}

.contact-group {
    padding-top: 15px;
}

.contact-group::after {
    content: '';
    height: 1px;
    width: 50%;
    display: inline-block;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(0,0,0,1), rgba(255,255,255,0));
}

#listFavorite {
    list-style: none;
    padding: 0;
}

#competence, #formation, #achievement {
    margin-bottom: 50px;
}

#competence h2::after, #formation h2::after, #achievement h2::after {
    content: '';
    height: 1px;
    width: 50%;
    display: block;
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(255,255,255,0));
}

#competence img {
    width: 75px;
}

#competence div div div {
    padding: 20px 40px;
}

#competence div .material-icons {
    line-height: 75px;
    vertical-align: middle;
    font-size: 2em;
}

.formation-block {
    display: flex;
    margin: 20px 40px;
    border: 1px solid black;
    border-radius: 15px;
}

.formation-block-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px 0 0 15px;
}

.formation-block-definition {
    padding-left: 20px;
}

#integrateur_web {
    background-color: #9a5e7a;
}

#lancer_site_web {
    background-color: #aebd9b;
}

#developpeur_appli_web {
    background-color: #65caff;
    background-size: 100% 100%;
}

.class-achievement {
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 15px;
}

.class-achievement-header {
    height: 150px;
    background-size: 100%;
    border-radius: 15px 15px 0 0;
}

.class-achievement-body {
    height: 150px;
    text-align: center;
}

.class-achievement-body {
    padding: 20px;
    background: linear-gradient(to bottom, #d7d7d7, white);
    border-top: 1px solid black;
}

.class-achievement-footer {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.class-achievement-footer a {
    line-height: 50px;
}

#decouper_maquette {
    background-image: url("/p5/public/img/cv/achievement/decouper_maquette.jpg");
}

#bootstrap {
    background-image: url("/p5/public/img/cv/achievement/bootstrap.png");
}

#comprendre_web {
    background-image: url("/p5/public/img/cv/achievement/comprendre_web.jpg");
}

#creer_jeu_plateau_js {
    background-image: url("/p5/public/img/cv/achievement/creer_jeu_plateau_js.png");
}

#gestion_projet {
    background-image: url("/p5/public/img/cv/achievement/gestion_projet.jpg");
}

#git {
    background-image: url("/p5/public/img/cv/achievement/git.jpg");
}

#html_css {
    background-image: url("/p5/public/img/cv/achievement/html_css.jpg");
}

#javascript {
    background-image: url("/p5/public/img/cv/achievement/javascript.png");
}

#jquery {
    background-image: url("/p5/public/img/cv/achievement/jquery.png");
}

#mvc {
    background-image: url("/p5/public/img/cv/achievement/mvc.png");
}

#php_mysql {
    background-image: url("/p5/public/img/cv/achievement/php_mysql.jpg");
}

#poo_php {
    background-image: url("/p5/public/img/cv/achievement/poo_php.png");
}

#referencement {
    background-image: url("/p5/public/img/cv/achievement/referencement.jpg");
}

#wordpress {
    background-image: url("/p5/public/img/cv/achievement/wordpress.jpg");
}

/** Blog **/

.date_blog {
    text-align: right;
    margin-top: -16px;
    padding-right: 10px;
    font-size: 0.8em;
    font-style: italic;
}

/** Connexion - Form **/

.loginForm fieldset {
    border: 1px solid black;
    border-radius: 10px;
}

.loginForm legend {
    width: auto;
}

.loginForm h4 {
    margin-bottom: 30px;
    padding-left: 15px;
}

.loginForm h4.success {
    color: green;
}

.loginForm h4.error , .loginForm h4.error::after, .loginForm h4.error:before {
    color: red;
}

.loginForm h4::after, .loginForm h4:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
}

.loginForm h4.success::after, .loginForm h4.success:before {
    background: linear-gradient(to right, white, green 2%, white);
}

.loginForm h4.error::after, .loginForm h4.error:before {
    background: linear-gradient(to right, white, red 2%, white);
}

.loginForm h4:before {
    margin-bottom: 15px;
}

.loginForm h4::after {
    margin-top: 15px;
}

/** Admin - index **/

.td-admin {
    line-height: 40px;
}

.form-btn {
    padding: 0;
}

.notSpecified {
    font-style: italic;
    font-size: 0.8rem;
}

.inputEmpty {
    box-shadow: red 0 0 10px;
}

/** Footer **/

footer {
    background-color: black;
    color: white;
}

footer a img {
    width: 100px;
    margin-top: 50px;
    display: inline-block;
    vertical-align: top;
}

footer address {
    padding-top: 25px;
    display: inline-block;
    vertical-align: top;
}

footer .btn-group {
    height: 200px;
}

#logo {
    background-color: white;
    width: 250px;
    border: 10px solid #c8c8c8;
    margin: 15px 15px 15px 0;
    border-radius: 10px;
}
