/** Général **/

body {
    margin-top: 66px;
    font-family: 'Raleway', sans-serif;
}

/** Nav **/

.navbar-brand img {
    height: 40px;
}

.navbar a {
    font-size: 1.3rem;
}

#adminNav {
    border-left: 1px solid rgba(255,255,255,0.5);
}

/** Pages **/

div.btn-group {
    margin: 10px auto;
}

.card-header {
    text-align: center;
    font-weight: bold;
}

p {
    text-indent: 15px;
}

h1 {
    text-align: center;
    padding: 30px 0;
}

h1:after, h1:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, white, black, white);
}

h1:after {
    margin-top: 15px;
}

h1:before {
    margin-bottom: 15px;
}

.date {
    text-align: right;
    font-style: italic;
    color: #747474;
}

.p404 img {
    display: block;
    width: 300px;
    margin: auto;
}

.p404title2 {
    font-size: 1.8em;
}

.p404title1 {
    font-size: 2.1em;
}

.p404 ul {
    padding-left: 80px;
}

.p404list {
    font-size: 1.5em;
    color: #ff523a;
}

.category-group {
    width: 60%;
    margin: 0 auto;
    display: block;
}

/** Accueil **/

header {
    position: relative;
}

header img {
    position: relative;
}

header h1.col-sm-12 {
    color: white;
    position: absolute;
    top: 10px;
    font-weight: bold;
    font-size: 5em;
    font-family: 'Crafty Girls', cursive;
}

header h1.col-sm-12:after, header h1.col-sm-12:before {
    background: linear-gradient(to right, black, white, black);
}

/** Accueil - Form **/

.generalForm, .loginForm {
    margin-top: 40px;
    margin-bottom: 40px;
}

.generalForm fieldset, .loginForm fieldset {
    padding: 12px;
}

.generalForm legend, .loginForm legend {
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 15px;
}

.generalForm legend:after {
    content: '';
    height: 1px;
    width: 100%;
    display: block;
    background: linear-gradient(to right, black, #b6b6b6 30%, white 75%);
}

/** Connexion - Form **/

.loginForm fieldset {
    border: 1px solid black;
    border-radius: 10px;
}

.loginForm legend {
    width: auto;
}

.loginForm h4 {
    margin-bottom: 30px;
}

.loginForm h4.success {
    color: green;
}

.loginForm h4.error , .loginForm h4.error:after, .loginForm h4.error:before {
    color: red;
}

.loginForm h4:after, .loginForm h4:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
}

.loginForm h4.success:after, .loginForm h4.success:before {
    background: linear-gradient(to right, white, green 2%, white);
}

.loginForm h4.error:after, .loginForm h4.error:before {
    background: linear-gradient(to right, white, red 2%, white);
}

.loginForm h4:before {
    margin-bottom: 15px;
}

.loginForm h4:after {
    margin-top: 15px;
}

/** Admin - index **/

/** Footer **/

footer {
    background-color: black;
    color: white;
}

footer a img {
    width: 100px;
    margin-top: 50px;
    display: inline-block;
    vertical-align: top;
}

footer address {
    padding-top: 25px;
    display: inline-block;
    vertical-align: top;
}

footer .btn-group {
    height: 200px;
}

#logo {
    background-color: white;
    width: 250px;
    border: 10px solid #c8c8c8;
    margin: 15px 15px 15px 0;
    border-radius: 10px;
}