{% extends 'layout.twig' %}

{% block title %}Pages d'écriture{% endblock %}

{% block body %}

    <header class="row">
        <img src="/img/header_accueil.jpg" alt="Photo montrant une personne tenant un café devant un ordinateur portable" class="img-fluid" />
        <h1 class="col-sm-12">Pages d'écriture</h1>
    </header>

{% endblock %}
