{% extends 'layout.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <header class="row">
        <div class="col-sm-12" id="col-header">
            <img src="{{ root }}/public/img/header_accueil.jpg" alt="Photo montrant une personne tenant un café devant un ordinateur portable" class="img-fluid" />
            <div class="row">
                <h1 class="col-sm-12">Pages d'écriture</h1>
            </div>
        </div>
    </header>

    <section class="row" id="blockquote">
        <blockquote class="col-sm-12">"... les romans sont les pelures que nous ôtons pour arriver enfin au coeur,<br />qui est vous ou moi, rien d'autre."</blockquote>
        <p class="blockquote col-sm-11">Virginia Woolf</p>
    </section>

    <section class="row">
        {{ form | raw }}
    </section>

{% endblock %}
