{% extends 'layout.twig' %}

{% block title %}Administration des articles{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>

    <div class="row">
        {{ form | raw }}
    </div>
{% endblock %}
