{% extends 'layout.twig' %}

{% block title %}Erreur interne du serveur{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 p404">
            <h1>OUPS !</h1>
            <p class="p404title1">Le serveur à rencontré une erreur.</p>
            <p class="p404title2">Quelques liens pour vous orienter :</p>
            <ul>
                <li><a href="{{ root }}/accueil" class="p404list">Accueil</a></li>
                <li><a href="{{ root }}/blog/1" class="p404list">Blog</a></li>
                <li><a href="{{ root }}/cv" class="p404list">CV</a></li>
            </ul>
        </div>
        <div class="col-sm-6 p404">
            <img src="{{ root }}/public/img/sorry.jpg" alt="Image montrant un post-it où il est écrit sorry" />
        </div>
    </div>
{% endblock %}
