{% extends 'layout.twig' %}

{% block title %}Ajouter un nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel utilisateur.</h1>

    <div class="row">
        {{ form | raw }}
    </div>
{% endblock %}
