{% extends 'layout.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

    <ul>
        {% for post in posts %}
            <li>
                <a href="/post/{{ post.id }}">{{ post.name }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}