{% extends 'layout.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

    <ul>
        {% for post in posts %}
            <li>{{ post.getName }}</li>
        {% endfor %}
    </ul>

{% endblock %}