<?xml version="1.0" encoding="UTF-8" ?>
<routes>
    <route name="general_accueil" path="^/accueil" controller="general" method="index" />
    <route name="general_404" path="^/404" controller="general" method="error404" />

    <route name="blog_index" path="^/blog/{id: \d+}" controller="blog" method="index" />
    <route name="blog_show" path="^/post/{id: \d+}" controller="blog" method="show" />
    <route name="blog_category" path="^/category/{slug: \w+}-{id: \d+}" controller="blog" method="category" />

    <route name="admin_accueil" path="^/admin/accueil" controller="admin" method="index" />

    <route name="admin_user_login" path="^/user/login" controller="user" method="login" />
    <route name="admin_user_logout" path="^/user/logout" controller="user" method="logout" />

    <route name="admin_post_index" path="^/admin/post/{id: \d+}" controller="post" method="index" />

    <route name="admin_category_index" path="^/admin/category/{id: \d+}" controller="category" method="index" />
</routes>
